<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if (page.isHomepage) { %>
    <title><%= data.title %></title>
  <% } else { %>
    <title><%= page.data.title ? page.data.title + ' | ' : '' %><%= data.title %></title>
  <% } %>

  <link rel="icon" href="/favicon.ico">
</head>
<body>

<nav>
  <% data.menu.forEach((link) => { %>
    <a href="<%= link.url %>"><%= link.text %></a>
  <% }) %>
</nav>
